# Dependências
node_modules/
.pnp/
.pnp.js

# Ambiente
.env
.env.local
.env.*.local

# Builds
dist/
build/
.next/
out/

# Hardhat / Backend
artifacts/
cache/
coverage/
coverage.json
typechain-types/
.hardhat/

# Arquivos locais
.DS_Store
*.log

# Secrets
**/PRIVATE_KEY*
**/private-key*

# IDE
.vscode/
.idea/

# Outros
*.swp
*.swo
*~
